<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/tmp/logs/log.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>/tmp/logs/%d{yyyy-MM-dd,aux}/log.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<MaxHistory>5</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	
<!--     <appender name="Kafka" class="com.javapai.dataflow.sl4j.logback.LogbackAppender"> -->
<!--     	<source>test-application</source> -->
<!--         <contextStrategy class="com.javapai.dataflow.sl4j.context.KafkaContextStrategy"> -->
<!--             <config class="com.javapai.dataflow.sl4j.config.KafkaConfig"> -->
<!--                 <addresses>173.32.10.202:9092</addresses> -->
<!--                 <topic>topic1</topic> -->
<!--             </config> -->
<!--         </contextStrategy> -->
<!--         <deliveryStrategy class="com.javapai.dataflow.sl4j.delivery.AsyncDeliveryStrategy"/> -->
<!--     </appender> -->

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.apache" level="ERROR"/>
	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</root>
</configuration>